<form class="example-form">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Host"></textarea>
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Beer #1" value="Beer name"></textarea>
    <textarea matInput placeholder="Vol" value="Beer vol"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Beer #2"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Beer #3"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Beer #4"></textarea>
  </mat-form-field>
</form>
<button>
  Save new event
</button>
