<br>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name: </mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{recipe.name}} </mat-cell>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="Rating">
      <mat-header-cell *matHeaderCellDef> Rating: </mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{recipe.rating}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef> Date: </mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{recipe.creationDate | date}} </mat-cell>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="Details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let recipe">
        <a [routerLink]="['details',recipe.kaleRecipeId]" mat-button>Recipe Details
          <i class="material-icons">library_books</i>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<br>

<a mat-button routerLink='create'>
  Add Recipe
  <i class="material-icons">playlist_add</i>
</a>