<div class="headerContainer">
  <div class="header">
    {{ (user)?.name }}
  </div>
</div>
<mat-card class="body">
  <mat-card>
    Kål Niveau: {{ (user)?.totalKaleLevel }}
  </mat-card>
  <mat-card>
    Beskrivelse: {{ (user)?.description }}
  </mat-card>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Det våde:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="columContainer">

      <div *ngFor="let beer of user?.kaleBeers; let i = index;">
        <div class="columDiv" *ngIf="Validate(i)">
          <app-beer [Beer]="beer"></app-beer>
        </div>
        <div class="columDiv" *ngIf="!Validate(i)">
          <app-beer [Beer]="beer"></app-beer>
        </div>
      </div>

    </div>


  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Det faste:
      </mat-panel-title>
    </mat-expansion-panel-header>

    {{ (user)?.kaleRecipes | json}}

  </mat-expansion-panel>
</mat-card>
