#div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#div1 {
  overflow: hidden;
  float: left;
  margin-right: 2em;

  width: 22%;
}

.example-card {
  max-width: 100%;
  min-width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
