.mat-navbar {
  background-color: #2fad59;
  border-radius: 4px;
}

a {
  background-color: #0d7530;
  margin-right: 1em;
  border-radius: 5px;
  color: white;
  font-weight: 550;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
